/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Sam Holland
   Date:   9/8/2026
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body {
   max-width: 960px;
   min-width: 640px;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
}


/* Image Styles */



/* Horizontal Navigation Styles */



/* Row Styles */




/* Column Styles */




/* Specials Styles */



/* Award Styles */



/* Footer Styles */

